.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    }
    .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
    }
    .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
    }
    bgc2, .vLine, .hLine {
    background-color: #0F52BA;
    }
    .quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
    }
    .services-icon {
    font-size: 60px;
    margin-left: 2rem;
    }
    .team-image {
    border: 3px solid #ddd;
    background-color: rgb(111, 111, 111); 
    padding: 10px;
    }
    .image-container {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    }

    .transparent-input {
        background-color: rgba(255, 255, 255, 0.5);;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgb(255, 255, 255);
    }

    @media (max-width: 768px) {
        .carousel-caption h2 {
            font-size: 1.5rem;
        }
    
        .carousel-caption p {
            font-size: 1rem;
        }
    }
    
